body {
  background-color: white;
  color: #303030;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 20px;
}

main {
  background-color: #428ff4;
  margin: 20px auto;
  max-width: 450px;
  padding: 20px;
}
#history {
  border: 1px solid black; 
  background-color: #42e2f4;
  margin: 20px auto;
  max-width: 450px;
  padding: 20px;
}